<section *ngFor="let tastes of taste">
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="taste.beername";
      background-size: cover></div>
      <mat-card-title>Taste of {{tastes.beername}}</mat-card-title>
    </mat-card-header>
  </mat-card>
<p>Color: {{tastes.color}}</p>
<p>Smell: {{tastes.smell}}</p>
<p>Taste Moth: {{tastes.tasteMoth}}</p>
<p>Bitterness: {{tastes.bitterness}}</p>
<p>Aftertaste: {{tastes.aftertaste}}</p>
</mat-dialog-content>
</section>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Exit</button>
  </mat-dialog-actions>