mat-card {
    max-width: 500px;
  }
  
  .example-header-image {
    background-image: url('../../../../content/img/persona.jpg'); 
    background-size: cover;
  }
  mat-card-image{
      width: 25%;
      height: 25%;
  }
section{
    width: 400px;
    margin: 10px;
    display: flex;
    align-items: center center;
}
.docu{
    display: flex;
    flex-direction: column;
    align-items:  center;
    

}