<section class="add-beer"  fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onAddBeer(f)" #f="ngForm">
        <mat-card fxFlex.xs="100%" fxFlex="400px" >
            <mat-card-title fxLayoutAlign="center">Add a new Beer!!!
                <mat-icon>sports_bar</mat-icon> 
            </mat-card-title>
            <img mat-card-image src="https://elements-cover-images-0.imgix.net/96431db6-9109-4d51-a38e-89c55c489b30?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=abd1823486d1efb51f94687869602561" alt="cerveza_generica">
            <mat-card-content fxLayoutAlign="center">
                Remember add the new beer and select all properties of this fantastic
                beer.
            </mat-card-content>
            <mat-form-field class="field-name" appearance="fill" >
                <input type="text" matInput  ngModel name="name" placeholder="Name Beer" required
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="field-stock" >
                <input type="number" matInput  ngModel name="stock" placeholder="Stock" required
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="field-name" appearance="fill">
                <mat-label>Image</mat-label>
                <input type="text" matInput  ngModel name="image" placeholder="Url Img" required
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="field-stock" >
                <mat-label>Select type:</mat-label>
                <mat-select ngModel name="biertype" required >
                    <mat-option *ngFor="let type of types" [value]="type.type">{{type.type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="field-name" appearance="fill">
                <mat-label>Price</mat-label>
                <input type="number" matInput  ngModel name="priceUni" placeholder="Price uni" required
                #priceInput="ngModel"[min]="0">
                <mat-error *ngIf="priceInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center">
                <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">AddBeer</button>
            </mat-card-actions>
        </mat-card>

    </form>


