<section class="add-beer"  fxLayout fxLayoutAlign="center">
    <section class="docu">
        <table mat-table [dataSource]="dataSource" 
                    class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="imag">
                <th mat-header-cell *matHeaderCellDef>Imag</th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{element.image}}" alt="cerveza_generica">
                </td>
            </ng-container>
            <ng-container matColumnDef="stock" >
                <th mat-header-cell *matHeaderCellDef >Stock</th>
                <td mat-cell *matCellDef="let element" >
                    <div *ngIf="user.type !== 'Client'">
                    {{element.stock}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceUni">
                <th mat-header-cell *matHeaderCellDef>PriceUni</th>
                <td mat-cell *matCellDef="let element">
                    {{element.priceUni}}
                </td>
            </ng-container>
            <ng-container matColumnDef="biertype">
                <th mat-header-cell *matHeaderCellDef>Bier Type</th>
                <td mat-cell *matCellDef="let element">
                    {{element.biertype}}
                </td>
            </ng-container>
            <ng-container matColumnDef="purchase">
                <th mat-header-cell *matHeaderCellDef>Make a Purchase</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="user.type === 'Client'">
                    <form (ngSubmit)="onAddBeer(f)" #f="ngForm">
                        <mat-form-field class="field-stock">
                            <input type="number" matInput  ngModel name="number" placeholder="amount" required
                            #nameInput="ngModel" [max]="element.stock" [min]="0">
                            <mat-error  *ngIf="( element.stock.value - nameInput.value ) < 0  ">Yo mast select less than {{element.stock}}.</mat-error>
                            <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
                        </mat-form-field>
                        <!--Ojo no envia el campo hidden-->
                        <mat-radio-group ngModel name="name" aria-label="Select an option" required>
                            <mat-radio-button value="{{element.name}}">Add</mat-radio-button>
                        </mat-radio-group>
                        <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">AddBeer</button>
                    </form> 
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="tastenote">
                <th mat-header-cell *matHeaderCellDef>Taste Notes</th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="openDialog(element.name)">tastenote</a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
