<section class="add-beer"  fxLayout fxLayoutAlign="center">
    
    <table border="2">
        <tr>
            <th>Nombre</th>
            <th *ngIf="type === 'Prog'||type ==='Shop'" >Stock</th>
            <th>priceUni</th>
            <th>image</th>
            <th>Biertype</th>
            
        </tr>
        <tr *ngFor="let beer of beers">
            <td >{{beer.name}}</td>
            <td *ngIf="type === 'Prog'||type ==='Shop'">{{beer.stock}}</td>
            <td>{{beer.priceUni}}</td>
            <td class="img-td">
                <img mat-card-image src="{{beer.image}}" alt="cerveza_generica">
            </td>
            <td>{{beer.biertype}}</td>
        
            
            <td *ngIf="type === 'Client'">
                <form (ngSubmit)="onAddBeer(f)" #f="ngForm">
                <mat-form-field class="field-stock">
                    <input type="number" matInput  ngModel name="number" placeholder="amount" required
                    #nameInput="ngModel" [max]="beer.stock">
                    <mat-error  *ngIf="( beer.stock.value - nameInput.value ) < 0  ">Yo mast select less than {{beer.stock}}.</mat-error>
                    <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
                </mat-form-field>
                <!--Ojo no envia el campo hidden-->
                <mat-radio-group ngModel name="name" aria-label="Select an option" required>
                    <mat-radio-button value="{{beer.name}}">Add</mat-radio-button>
                </mat-radio-group>
                <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">AddBeer</button>
            </form> 
            </td>
            <td><a (click)="openDialog(beer.name)">Taste note</a></td>
        </tr>
        <mat-paginator [length]="beers.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
</mat-paginator>
    </table>

</section>