<section class="add-beer"  fxLayout fxLayoutAlign="center">
    <table>
        <tr>
            <th>Nombre</th>
            <th *ngIf="type === 'Prog'||type ==='Shop'" >Stock</th>
            <th>priceUni</th>
            <th>image</th>
            <th>Biertype</th>
        </tr>
        <tr *ngFor="let beer of beers">
            <td >{{beer.name}}</td>
            <td *ngIf="type === 'Prog'||type ==='Shop'">{{beer.stock}}</td>
            <td>{{beer.priceUni}}</td>
            <td class="img-td">
                <img mat-card-image src="{{beer.image}}" alt="cerveza_generica">
            </td>
            <td>{{beer.biertype}}</td>
            
            <td *ngIf="type === 'Client'">
                <form (ngSubmit)="onAddBeer(f)" #f="ngForm">
                <mat-form-field class="field-stock">
                    <input type="number" matInput  ngModel name="number" placeholder="Stock" required
                    #nameInput="ngModel">
                    <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
                </mat-form-field>
                <!--Ojo no envia el campo hidden-->
                <input type="hidden" ngModel name="name" value="{{beer.name}}">
                <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">AddBeer</button>
            </form> 
            </td>
            <td *ngIf="type === 'Client'">
                
            
            </td>
        </tr>
    </table>
</section>