.purchase-card{
    max-width: 500px;
}
table {
    width: 100%;
  }
  mat-card-content{
      width: 100%;
  }
  .example-header-image {
    background-image: url('../../content/img/persona.jpg');
    background-size: cover;
  }