<section class="docu">
    <table mat-table [dataSource]="dataSource" 
                class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef>Add</th>
            <td mat-cell  *matCellDef="let element">
                <div *ngIf="type === 'Client' && valid(element.name) === false">
                <button type="submit" (click)="onAddtastesd(element.name)" mat-raised-button color="primary">Add</button>
                </div>
                <div *ngIf="type === 'Client' && valid(element.name) === true">
                  <p>You have that test</p>  
                </div>
            </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
