
<section class="add-beer">
    <div class="container-type">
    <mat-card>
        <button class="menu-button" mat-raised-button (click)="onForm()" color="accent">Add Question
            <mat-icon>note_add</mat-icon>
        </button>
        <button class="menu-button" mat-raised-button (click)="onTable()" color="accent">Show your question_answer
            <mat-icon>find_in_page</mat-icon>
        </button>
    </mat-card>
    </div>
    <div class="container-type" *ngIf="formul === true">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <form (ngSubmit)="onAddQuestion(f)" #f="ngForm">
            <mat-card-title fxLayoutAlign="center">Add a Question!!!
                <mat-icon>question_answer</mat-icon> 
            </mat-card-title>
            <img mat-card-image src="../../../assets/img/games.jpg"alt="games">
            <mat-card-content fxLayoutAlign="center">
                Add a new question, it's very easy, but take your time, breath and take a drink.
            </mat-card-content>
            <mat-form-field class="question" appearance="fill" >
                <input type="text" matInput  ngModel name="question" placeholder="The question" required
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="question" >
                <input type="text" matInput  ngModel name="CorrectAnswer" placeholder="Correct Answer" required
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="question" >
                <input type="text" matInput  ngModel name="AnswerSecond" placeholder="Correct Second" required
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="question" >
                <input type="text" matInput  ngModel name="AnswerThird" placeholder="Correct Third" 
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-form-field class="question" >
                <input type="text" matInput  ngModel name="AnswerFourth" placeholder="Correct Fourth"
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Field must not empty</mat-error>
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center">
                <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">Add Question</button>
            </mat-card-actions>
        </form>
    </mat-card>
    </div>
    <div *ngIf="table === true">
        <mat-card>
            <table mat-table [dataSource]="dataSource"
            class="mat-elevation-z8">
            <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef>Question</th>
                <td mat-cell *matCellDef="let element">
                    {{element.question}}
                </td>
            </ng-container>
            <ng-container matColumnDef="answer">
                <th mat-header-cell *matHeaderCellDef>Answer</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="accent" (click)="openDialog(element.id)" >Answers</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>
</section>
<section class="add-beer"  fxLayout fxLayoutAlign="center">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Assignee</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
</section>