<mat-dialog-content class="mat-typography">
<mat-card class="almacen" id="tipo1">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Cata de {{tate.name}}</mat-card-title>
        <mat-card-subtitle>Creada por </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
        <p>Status of tasting:{{progress}}%</p>
        <button mat-raised-button color="accent" (click)="onStop()">Stop</button>
    </mat-card-content>
</mat-card>
<mat-card class="almacen" id="tipo2" >
    <mat-card-header>
        <mat-card-title>  
                {{tate.bier1Name}}
        </mat-card-title>        
    </mat-card-header>
    <mat-card-content *ngIf="casilla1 === false" class="evalute">
        <div class="evaluate1">
        <mat-icon>done_outline</mat-icon>
            <p>Beer {{tate.bier1Name}} has evaluate.</p>
        </div>
    </mat-card-content>
    
    <mat-card-content *ngIf="casilla1 === true">
        <form (ngSubmit)="onAddBeer(f, (casilla1=false),tate.bier1Name)" #f="ngForm">
            <mat-form-field class="color">
                <input   matInput  ngModel name="color" placeholder="color" required>
            </mat-form-field>
            <mat-form-field class="smell">
                <input   matInput  ngModel name="smell" placeholder="smell"  required>
            </mat-form-field>
            <mat-form-field class="tasteMoth">
                <input  matInput  ngModel name="tasteMoth" placeholder="tasteMoth" required>
            </mat-form-field>
            <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary" class="validate">AddBeer</button>
            <mat-form-field class="bitterness">
                <input  matInput  ngModel name="bitterness" placeholder="bitterness" required>
            </mat-form-field>   
            <mat-form-field class="aftertaste">
                <input  matInput  ngModel name="aftertaste" placeholder="aftertaste" required>
            </mat-form-field>
                        
        </form>
    </mat-card-content>
</mat-card>
<mat-card class="almacen" id="tipo3">
    <mat-card-header>
        <mat-card-title>  
                {{tate.bier2Name}}
        </mat-card-title>        
    </mat-card-header>
    <mat-card-content *ngIf="casilla2 === false" class="evalute">
        <mat-icon>done_outline</mat-icon>
        <p>Beer {{tate.bier2Name}} has evaluate.</p>
    </mat-card-content>

    <mat-card-content *ngIf="casilla2 === true && progress > 25 " >
        <form (ngSubmit)="onAddBeer(f, (casilla2=false),tate.bier2Name)" #f="ngForm">
            <mat-form-field class="color">
                <input   matInput  ngModel name="color" placeholder="color" required>
            </mat-form-field>
            <mat-form-field class="smell">
                <input   matInput  ngModel name="smell" placeholder="smell"  required>
            </mat-form-field>
            <mat-form-field class="tasteMoth">
                <input  matInput  ngModel name="tasteMoth" placeholder="tasteMoth" required>
            </mat-form-field>
            <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary" class="validate">AddBeer</button>
            <mat-form-field class="bitterness">
                <input  matInput  ngModel name="bitterness" placeholder="bitterness" required>
            </mat-form-field>   
            <mat-form-field class="aftertaste">
                <input  matInput  ngModel name="aftertaste" placeholder="aftertaste" required>
            </mat-form-field>
                        
        </form>
    </mat-card-content>
</mat-card>
<mat-card class="almacen" id="tipo4">
    <mat-card-header>
        <mat-card-title>  
            {{tate.bier3Name}}
        </mat-card-title>        
    </mat-card-header>
    <mat-card-content *ngIf="casilla3 === false" class="evalute">
        <mat-icon>done_outline</mat-icon>
        <p>Beer {{tate.bier3Name}} has evaluate.</p>
    </mat-card-content>

    <mat-card-content *ngIf="casilla3 === true  && progress > 50 ">
        <form (ngSubmit)="onAddBeer(f, (casilla3=false),tate.bier3Name)" #f="ngForm">
            <mat-form-field class="color">
                <input   matInput  ngModel name="color" placeholder="color" required>
            </mat-form-field>
            <mat-form-field class="smell">
                <input   matInput  ngModel name="smell" placeholder="smell"  required>
            </mat-form-field>
            <mat-form-field class="tasteMoth">
                <input  matInput  ngModel name="tasteMoth" placeholder="tasteMoth" required>
            </mat-form-field>
            <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary" class="validate">AddBeer</button>
            <mat-form-field class="bitterness">
                <input  matInput  ngModel name="bitterness" placeholder="bitterness" required>
            </mat-form-field>
            <mat-form-field class="aftertaste">
                <input  matInput  ngModel name="aftertaste" placeholder="aftertaste" required>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>
<mat-card class="almacen" id="tipo4">
    <mat-card-header>
        <mat-card-title>
            {{tate.bier4Name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="casilla4 === false" class="evalute">
        <mat-icon>done_outline</mat-icon>
        <div>
        <p>Beer {{tate.bier4Name}} has evaluate.</p>
        </div>
    </mat-card-content>

    <mat-card-content *ngIf="casilla4 === true && progress > 75 ">
        <form (ngSubmit)="onAddBeer(f, (casilla4=false),tate.bier4Name)" #f="ngForm">
            <mat-form-field class="color">
                <input   matInput  ngModel name="color" placeholder="color" required>
            </mat-form-field>
            <mat-form-field class="smell">
                <input   matInput  ngModel name="smell" placeholder="smell"  required>
            </mat-form-field>
            <mat-form-field class="tasteMoth">
                <input  matInput  ngModel name="tasteMoth" placeholder="tasteMoth" required>
            </mat-form-field>
            <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary" class="validate">AddBeer</button>
            <mat-form-field class="bitterness">
                <input  matInput  ngModel name="bitterness" placeholder="bitterness" required>
            </mat-form-field>
            <mat-form-field class="aftertaste">
                <input  matInput  ngModel name="aftertaste" placeholder="aftertaste" required>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>
<mat-card class="almacen" id="tipo4">
    <p>Formulario</p>
    <button mat-raised-button mat-dialog-close  (click)="clickevent()" *ngIf="progress>=100"  color="accent" >Finalizar cata</button>
    <button mat-raised-button mat-dialog-close *ngIf="progress<100"  color="accent" (click)="onFinish()">Finalizar cata</button>
</mat-card>

</mat-dialog-content>

