mat-dialog-content{
    display: flex;
    flex-wrap: wrap;

    
}
.almacen{
    width: 300px; 
    height: 300px;
    margin:5px;
}
.example-header-image {
    background-image: url('../../../content/img/persona.jpg'); 
    background-size: cover;
  }
  mat-card-content{
    
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
  }
  .validate{
      margin: 15px;
  }
  .evalute{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: green;
  }
  
