.docu{
    display: flex;
    flex-direction: column;
    align-items:  center;
}
table{
    width: 500px;
    text-align  : center;
}
.mat-column-name {
    border-right: 1px solid currentColor;
    text-align: center;
    width: 350px;
  }
  .mat-column-button {
    
    text-align: center;
  }