<section class="pruebas">
    <div>
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Game Instruction:</mat-card-title>
      <mat-card-subtitle>Relax and breath</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/gameHeaderfilter.jpg" alt="cerveza_generica">
    <mat-card-content>
      <p>
        Insted you must use this game like a joke, you must play
        this game but use it responsibly. The questions are very
        easy but you must answer this questions in less than 2 minutes.       </p>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>How many questions?</mat-card-title>
      <mat-card-subtitle>A simple answer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/gameHeader2.jpg" alt="cerveza_generica">
    <mat-card-content>
      <p>
        At this time you have 4 aleatory questions, and if you use this game
        frequently that's questions may be repited. But it's your time to
        implement your knowledge!
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>You finished the game?</mat-card-title>
      <mat-card-subtitle>Well done!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/gameHeader3.jpg" alt="cerveza_generica">
    <mat-card-content>
      <p>
        If you have finished the game your result send to our data base.
        and you will watch it at the area of your Game.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>New try?</mat-card-title>
      <mat-card-subtitle>Let start again...</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/gameHeader4.jpg" alt="cerveza_generica">
    <mat-card-content>
      <p>
        It`s time to get a new game, and of coures repeat the main
        mantra to use it! Repeat for yourself: "Breath and remember".
      </p>
    </mat-card-content>
  </mat-card>
</div>
</section>